/*  前提　*/
img{
    width: 100%;
}

/*　ヘッダー */
header img{
    width: 150px;
    height: 50px;
    padding-bottom: 0px;
}

header ul{
    padding-top: 0px;
    height: 30px;
    background-color: black;
    list-style: none;
}
header li{
    float: left;
    color: gray;
    padding-right: 2rem;
    line-height: 30px;
}
header a{
    color:azure;
}

/* 左側メインコンテンツ */
main{
    width: auto;
    height: auto;
}

.main-image img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

/* フッター  */
footer{
    clear: both;
    width: 100%;
    margin-top: 5px;
    background-color: black;
}
footer p{
    text-align: center;
    color: white;
}